<footer>
    <div class="footerTop">
        <div class="footerTopText">
            <div class="footerTopTextLeft">
                <p>
                    Our Beloved Client
                </p>
            </div>
            <div class="footerTopTextRight">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
        </div>
        <div class="footerLogoClient">
            <div class="footerLogoClientTop">
                <div class="LogoClientOne">
                    <p>
                        LOGO CLIENT 1
                    </p>
                </div>
                <div class="LogoClientTwo">
                    <p>
                        LOGO CLIENT 2
                    </p>
                </div>
                <div class="LogoClientThree">
                    <p>
                        LOGO CLIENT 3
                    </p>
                </div>
                <div class="LogoClientFour">
                    <p>
                        LOGO CLIENT 4
                    </p>
                </div>
            </div>
            <div class="footerLogoClientBottom">
                <div class="LogoClientFive">
                    <p>
                        LOGO CLIENT 5
                    </p>
                </div>
                <div class="LogoClientSix">
                    <p>
                        LOGO CLIENT 6
                    </p>
                </div>
                <div class="LogoClientSeven">
                    <p>
                        LOGO CLIENT 7
                    </p>
                </div>
                <div class="LogoClientMore">
                    <p class="LogoClientMoreText">
                        More Client
                    </p>
                </div>
            </div>
            
            
        </div>
        <div class="footerTopVector">
            <div class="horizontalLine">
                <svg xmlns="http://www.w3.org/2000/svg" width="940" height="2" viewBox="0 0 940 2" fill="none">
                    <path d="M0 1H940" stroke="white"/>
                  </svg>
            </div>
            <div class="verticalLineLeft">
                <svg xmlns="http://www.w3.org/2000/svg" width="2" height="256" viewBox="0 0 2 256" fill="none">
                    <path d="M1 0V256" stroke="white"/>
                  </svg>
            </div>
            <div class="verticalLineCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="2" height="256" viewBox="0 0 2 256" fill="none">
                    <path d="M1 0V256" stroke="white"/>
                  </svg>
            </div>
            <div class="verticalLineRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="2" height="256" viewBox="0 0 2 256" fill="none">
                    <path d="M1 0V256" stroke="white"/>
                  </svg>
            </div>

        </div>
    </div>
    <div class="footerBottom">
        <div class="footerBottomTopText">
            <div class="footerBottomTopTextIntersted">
                Intersted to woek with our team?
            </div>
            <button id="footerBtns" class="footerBtn">
                Let’s Talk
            </button>
            <div class="footerBottomTopTextLorem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </div>
            
        </div>
    </div>
    <div class="footerBottomSVG">
        <svg xmlns="http://www.w3.org/2000/svg" width="1073" height="2" viewBox="0 0 1073 2" fill="none">
            <path opacity="0.4" d="M0 1.08105H1073" stroke="white"/>
          </svg>
    </div>
    <div class="footer">
        <div class="preSvg">
            <div class="svg">
                <div class="svgLeft">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="16" fill="#98C3E8"/>
                      </svg>
                </div>
                <div class="svgRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
                      </svg>
                </div>
                <div class="svgA">
                    <p>
                        A
                    </p>
                </div>
            </div>
            <div class="Afrianska">
                <p>
                    Afrianska
                </p>
            </div>
            <div class="aboutUS">
                <p>
                    About US
                </p>
            </div>
            <div class="followUS">
                <p>
                    Follow US
                </p>
            </div>
            
        </div>
        <div class="column">
            <div class="footerLeftColumn">
                <div class="footerLeftColumnA">
                    <p class="lettersA">
                        A.
                    </p>
                    <p class="footerLeftColumnAText">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="footerLeftColumnT">
                    <p class="lettersT">
                        T.
                    </p>
                    <p class="footerLeftColumnTText">
                        +62-812-7313-4321
                    </p>
                </div>
                <div class="footerLeftColumnE">
                    <p class="lettersE">
                        E
                    </p>
                    <p class="footerLeftColumnEText">
                        hello.afrian@gmail.com
                    </p>
                </div>
            </div>
            <div class="footerCenterColumn">
                
                    <p>About</p>
                    <p class="p">What We Do</p>
                    <p class="p">Project</p>
                    <p class="p">How It Work With Us</p>
                
            </div>
            <div class="footerRightColumn">
                
                    <p>Instagram</p>
                    <p class="p">Facebook</p>
                    <p class="p">LinkedIn</p>
                    <p class="p">Youtube</p>
                
            </div>
            
        </div>
        <div class="end">
            <p>2019 © Afrianska. All rights reserved.</p>
        </div>
    </div>
</footer>
<div class="modal" id="modalOne">
</div>

<script src="js/main.min.js"></script>
</body>
</html>